.film-card{
  flex: 0 1 20.5%;
  margin: 5px 5px 5px 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center top;
  border-radius: 10px;
  cursor: pointer;
}
.container{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.title{
  display: inline-block;

}
.rating{
  display: inline-block;
  vertical-align: bottom;
  float: right;

}
.mat-card-opening{
  display:flex;
  flex: row;
  flex-wrap: wrap;
}
.header{
  flex: 0 0 100%;
}
.container
{
    display: flex;
    flex: row;
}
.film-card{
  flex: auto;

}
.score{
  display: inline-block;
  float: right;
  vertical-align: bottom;
  color:black;
}
.title{
  color:black;
}
.square,
.circle {
  pointer-events: none;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 1px;
  background-color: #8cb8ff;
  font-size: 12px;
}
.circle {
  border-radius: 50%;
}
.follow-path {
  position: absolute;
  top: -9px;
  left: -9px;
}
.motion-path {
  position: relative;
  width: 256px;
  
}
.loading-container{
  margin-left: auto;
  margin-right: auto;
}