.mat-card-log{
  width: 60%;
  position:relative;
  top: 20%;
  left: 20%;
  margin-top: 5em;
}

.full-width{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.submit-button{
  display: inline-block;

}