<div class="mat-card-log">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="full-width">
      <mat-form-field class="full-width">
        <input matInput
        placeholder="Email"
        class="form-control"
        ngModel
        name="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput
        placeholder="Password"
        ngModel
        name="password"
        [type]="'password'">
      </mat-form-field>

    </div>
    <button mat-raised-button 
    type="submit" 
    class="submit-button"
    style="background-color: rgb(68, 199, 223);">Submit</button>
    <button mat-raised-button class="submit-button"
     [routerLink]="['/register']"
     style="background-color:white;   display: inline-block;
  ">Register</button>
  </form>

</div>
