<mat-card class="mat-card-log">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="full-width">
      <mat-form-field class="full-width">
        <input matInput
        placeholder="Email"
        class="form-control"
        ngModel
        name="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput
        placeholder="Password"
        ngModel
        name="password"
        [type]="'password'">
      </mat-form-field>

    </div>
    <button mat-raised-button type="submit" style="  display: inline-block; background-color: #C22F27; color: white;">Submit</button>
    <button mat-raised-button
     [routerLink]="['/register']"
     style="background-color:#ff8170;   display: inline-block;
  ">Register</button>
  </form>

</mat-card>
