#mat-card-welcome{
  background-image: linear-gradient(rgb(56, 199, 255), green, red);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  height: 200px;
}

.welcome-header{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size:2em;
}
.subtext{
  margin-top:10px;
  font-weight: 300;
  font-size:1.2em;
}
.sign-up-buttons{
  position: absolute;
  bottom: 24px;
}
.get-started{
  background-color: black;
  color: white;
}
.header-text{
  color: #000000;
}
@media only screen and (max-width: 600px) {
  .mat-card-welcome{
    height: 200px;
  }
}