.mat-card-welcome{
  background-image: url('https://stillsfrmfilms.files.wordpress.com/2012/09/04.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  cursor: pointer;
}
.welcome-header{
  display: flex;
  flex-direction: column;
}
.film-title{
  position:absolute;
  bottom:0;
  right:0;
  color: #dee4ed;
  padding: 10px 10px 10px 10px;
}
.header-text{
  font-size: 3em;
  color: #000000;
}
@media only screen and (max-width: 600px) {
  .mat-card-welcome{
    height: 200px;
  }
}