.mat-card-trending{
  background-image: url('https://images.contentful.com/22n7d68fswlw/3RuFfKaZpe0g4GsekI0Eic/c452385e81a92dc42f8c5b8eae678675/stalker28150id_024.jpg?w=1200&h=600&fit=thumb');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}
