.film-card{
  flex: 0 1 50%;
  max-width: 50%;  
  background-color: white;
}
.script-card{
  flex: 0 1 50%;
  max-width:100%;
  white-space: pre;
  font-family: 'Courier', arial;
}
/deep/ .mat-tooltip{
  background-color: white;
}
.script{
  // margin: auto;
  // width:50%;
}
.film-title{
  font-size:2em;
}
.background-card{
  flex: 0 1 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;
  margin-top: 5px;
  
}
.script-check{
  position: absolute;
  top: 0;
  right: 0;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.image-card{
  height: 100px;
}
.comment-tab-group{

}
.comment-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.add-comment{
  flex: 0 1 200px;
  margin: 4px 4px 4px 4px;
  margin-top: 1em;
  background-color: #d8d8d8;
  border-radius: 10px;
  height: 200px;
  cursor: pointer;

}
.add-button{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .film-card{
    flex: 0 1 95%;
    max-width: 95%;
  }

  .background-card{
    flex: 0 1 95%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 150px;
    border-radius: 10px;
    margin-top: 5px;
  }

  .script-card{
    margin-top:1em;
    flex: 0 1 90%;
    white-space: pre-line;
    font-family: 'Courier', arial;
  }
}