
<div class="container" *ngIf="loaded">
  <mat-card class="background-card" [ngStyle]="{'background-image': 'url(' + getBackdrop() + ')'}">
      
  </mat-card>
  <mat-card class="film-card">
      <h1>{{film.title}}</h1>

    <mat-card-subtitle class="text"><p>{{film.release_date}}</p></mat-card-subtitle>
    <mat-card-content>
      <p>
        {{film.overview}}
      </p>

    </mat-card-content>

  </mat-card>

  <mat-card class="film-card">

      <h1>
          Reviews
        </h1>
        <mat-tab-group class="comment-tab-group">
          <mat-tab label="General">
            <div class="comment-container">
                <mat-card class="add-comment">
                    <mat-icon svgIcon="plus" class="add-button"></mat-icon>
                </mat-card> 
            </div>
   
          </mat-tab>
          <mat-tab label="Cinematography">
            <div class="comment-container">
                <mat-card class="add-comment">
                    <mat-icon svgIcon="plus" class="add-button"></mat-icon>
                </mat-card> 
            </div>
    
          </mat-tab>
          <mat-tab label="Writing">
            <div class="comment-container">
                <mat-card class="add-comment">
                    <mat-icon svgIcon="plus" class="add-button"></mat-icon>
                </mat-card> 
            </div>
    
          </mat-tab>
  
          <mat-tab label="Acting">
            <div class="comment-container">
                <mat-card class="add-comment">
                    <mat-icon svgIcon="plus" class="add-button"></mat-icon>
                </mat-card> 
            </div>
    
          </mat-tab>
          <mat-tab label="Sound">
            <div class="comment-container">
                <mat-card class="add-comment">
                    <mat-icon svgIcon="plus" class="add-button"></mat-icon>
                </mat-card> 
            </div>
    
          </mat-tab>
          <mat-tab label="Editing">
            <div class="comment-container">
                <mat-card class="add-comment">
                    <mat-icon svgIcon="plus" class="add-button"></mat-icon>
                </mat-card> 
            </div>
    
          </mat-tab>
  
          </mat-tab-group>
  </mat-card>
</div>
