
<div class="container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>About Sorkn</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://images.pexels.com/photos/158771/notebook-pen-table-blank-158771.jpeg?w=1200&h=627&fit=crop&auto=compress&cs=tinysrgb">

    <mat-card-content>
      <p>Sorkn is a web app for aspiring filmmakers and screenwriters to share their projects.
         Creators can find and contact people like actors, DPs, etc... interested in their project.
         Sorkn is also dedicated to providing inspiration through classic films and scripts.
         Created with Angular 4 and Node.js.
       </p>
    </mat-card-content>

  </mat-card>
</div>
