
<div class="container">
  <mat-card class="about-card">
    <h1 class="h1-text">Sorkn is for</h1>
  </mat-card>
  <mat-card class="about-card-2" style="background-image: url('https://pmcvariety.files.wordpress.com/2013/10/wesanderson_p58.jpg?w=1000&h=563&crop=1');">
    <h1 class="sub-text" style="color:black;">Directors</h1>
  </mat-card>
  <mat-card class="about-card-2" style="background-image: url('http://c-5uwzmx78pmca09x24eeex2ebzjquox2ekwu.g00.tv.com/g00/3_c-5eee.bd.kwu_/c-5UWZMXPMCA09x24pbbx78x3ax2fx2feee.bzjquo.kwux2fquo-323l58imx2fbczjqvmx2fti-mb-ab-pjw-vmeazwwu-iizwv-awzsqv-rmnn-livqmta-08929986x3fq98k.uizsx3dquiom_$/$/$/$');">
    <h1 class="sub-text">Writers</h1>
  </mat-card>
  <mat-card class="about-card-2" style="background-image: url('https://cms-assets.theasc.com/11Blade-Runner-1982-copy.jpg?mtime=20170519105454');">
    <h1 class="sub-text" style="color: rgb(187, 0, 0);">Cinematographers</h1>
  </mat-card>
</div>
