.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.mat-card-welcome{
  margin-top:1em;
  width:1032px;
  margin-bottom: 1em;
}

.row{
  width:80%;
}
.indie{
  width:1032px;
  margin-bottom: 1em;
}
.trending{
  width:1032px;
  max-width:1032px;
  margin-bottom: 1em;

}
@media only screen and (max-width: 600px) {
  .mat-card-welcome{
    margin-top:5px;
    flex: 0 1 95%;
    margin-bottom: 5px;
  }
  .indie{
    flex: 0 1 95%;
    margin-bottom: 5px;
  }
  .trending{
    flex: 0 1 95%;
    margin-bottom: 5px;
    max-width:95%;

  }
}