.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.mat-card-welcome{
  margin-top:1em;
  flex: 0 1 90%;
  margin-bottom: 1em;
}

.row{
  width:90%;
}
.indie{
  flex: 0 1 90%;
  margin-bottom: 1em;
}
.trending{
  flex: 0 1 90%;
  margin-bottom: 1em;

}
@media only screen and (max-width: 600px) {
  .mat-card-welcome{
    margin-top:5px;
    flex: 0 1 95%;
    margin-bottom: 5px;
  }
  .indie{
    flex: 0 1 95%;
    margin-bottom: 5px;
  }
  .trending{
    flex: 0 1 95%;
    margin-bottom: 5px;
  
  }
}