.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.user-card{
  flex: 0 1 50%;
  height:500px;
  height: stretch;
  margin-top: 1em;
  background-color: #E0E0E0;
}
.profile-image{
  background-image: url('https://www.serviceseeking.com.au/assets/business_profile/default-profile-pic.svg');
  background-size: cover;
}
