
<div class="container">
  <div *ngIf="currentUser" class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-image"></div>
      <mat-card-title>{{currentUser.name}}</mat-card-title>
      <mat-card-subtitle>@{{currentUser.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </div>
  <mat-tab-group class="tab-groups">
    <mat-tab label="Lists">
      <div class="lists-container" *ngIf="lists">
        <mat-card class="list-card" *ngFor="let list of lists" [routerLink]='["/l", list._id]'>
          <h2>{{list.name}}</h2>
          <div class="films-container">
            <mat-card *ngFor="let film of list.films" class="poster-card" [ngStyle]="{'background-image': 'url(' + getBackdrop(film) + ')'}" [routerLink]='["/f", film.id]'>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Scripts">
      <div class="scripts-container" *ngIf="scriptData">
          <div class="table-container">
            <mat-table #table [dataSource]="scriptData">
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let script" (click)="clickScript(script)" style="cursor: pointer;">
                    {{script.name}}
                </mat-cell>
              </ng-container>
        
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Likes"> Content 3 </mat-tab>
  </mat-tab-group>
    
</div>
