
<mat-toolbar class="header">
  <button mat-icon-button class="hamburger-menu" *ngIf="!isDesktop" (click)="sidenavClick()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>

  <button mat-button routerLink="/explore">
    <h2 class="mat-title">Sorkn</h2>
  </button>

  <mat-card class="search-form">
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <mat-form-field
        class="search-field"
        style="width: 800px; max-height:50px; position:fixed;top:0;">
          <span matPrefix>
            <mat-icon svgIcon="magnify" style="text-align: bottom;"></mat-icon>
             &nbsp;</span>
          <input matInput placeholder="Search"
          name="search_value" #searchbar
           ngModel>
        </mat-form-field>
      </form>
    </mat-card>

  <div *ngIf="!isLoggedIn">
    <button mat-raised-button
     (click)="onLogin()"
     [routerLink]="['/login']"
    style="background-color:#30ddf4; min-width:1%;" >Login</button>
  </div>

  <button mat-icon-button class="icon" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
    <mat-icon svgIcon="account"></mat-icon>
  </button>

  <mat-menu #menu="matMenu" >
    <button mat-menu-item [routerLink]="['/u', 'jrmylee ']">
      <mat-icon svgIcon="account-outline" ></mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon svgIcon="power"></mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>
