
<mat-toolbar class="header">
  <button mat-button routerLink="/explore">
    <h2 class="mat-title">Sorkn</h2>
  </button>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="!isLoggedIn">
    <button mat-button (click)="onRegister()" [routerLink]="['/register']">Register</button>
    <button mat-button (click)="onLogin()" [routerLink]="['/login']">Login</button>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
    <mat-icon svgIcon="account"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/u', 'jrmylee ']">
      <mat-icon svgIcon="account-outline" ></mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon svgIcon="power"></mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>


</mat-toolbar>

<!-- <div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown" appDropdown>
      <a class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a>Save Data</a></li>
        <li><a>Fetch Data</a></li>
      </ul>
    </li>
  </ul>
</div> -->
