<div class="container" *ngIf="list$ | async as list">
    <mat-card class="background-card" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original/' + list.films[0].backdrop_path + ')'}">
        
    </mat-card>
    <mat-card class="list-card">
      <h1>{{list.name}}</h1>

      <div class="buttons">
        <button mat-icon-button (click)="deleteList(list._id)" *ngIf="myList">
          <mat-icon class="delete-button" svgIcon="delete"></mat-icon>
        </button>
        <button mat-fab class="fab-button" [routerLink]='["/editlist",list._id]' *ngIf="myList">
          <mat-icon svgIcon="pencil"></mat-icon>
        </button>
      </div>
      <mat-card-subtitle class="text">
        <div [routerLink]="['/u', list.username]" style="cursor: pointer;">
            By {{list.username}}
        </div>
      </mat-card-subtitle>
      <div class="lists-container">
          <mat-card *ngFor="let film of list.films" class="poster-card" [ngStyle]="{'background-image': 'url(' + getBackdrop(film) + ')'}" [routerLink]='["/f", film.id]'>
          </mat-card>
        </div>
      <mat-card-content>
  
      </mat-card-content>
  
    </mat-card>

  
  </div>
  