.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.create-list-container{
    flex: 0 1 80%;
    margin-top: 1em;
    overflow: auto;
}

.list-container{
    display: flex;
    flex-direction: row;
}

.left-container{
    flex: 0 1 50%;
    display:flex;
    flex-direction: column;
}
.header{
}
.details-card{
    flex: 0 1 80px;
    border-radius: 5px;
    margin-bottom: 5px;

}
.list-card{
    flex: 0 1 80%;
    border-radius: 5px;
    height: 300px;
}
.search-form{
    display: block;
    width: 100%;
    max-height: 20px;
    margin-left: auto;
    margin-right: auto;
}
.search-field{
    width:100%;
}
.list-results-card{
    flex: 0 1 80%;
    margin-left: 5px;
}
.table-container{
    max-height: 450px;
    overflow-y: auto;
}
.search-result-card{
    background-color: #dee4ed;
    border-radius: 10px;
    width:90%;
    margin-top: 5px;
    min-height: 15px;
}
.add-button{
    margin-left: auto;
}
.submit-button{
    background-color: #4FC3F7;
    width:100%;
    margin-left: auto;
}

@media only screen and (max-width: 1024px) {
    .list-container{
        display:flex;
        flex-direction: column;
    }
    .list-results-card{
        flex: 0 1 300px;

        margin-top: 10px;
        margin-left: 0px;
    }
}