.full-width{
  width:100%;
}
.tabs{
  flex: 0 1 60%;
}
.half-width{
  width:49%;
  display: inline-block;
}
.new-script-card{
  flex: 0 1 80%;
  min-width: 80%;
  margin-top: 1em;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.submit{
  background-color: #4FC3F7;
  width:100%;
}
.chooser-button{
  width:90%;
  text-align: center;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #999999;
}