.full-width{
  width:100%;
}
.half-width{
  width:49%;
  display: inline-block;
}
.mat-card{
  flex: 0 1 80%;
  margin-top: 1em;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.mat-card{
  background-color: #E0E0E0;
}